@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="text-center">
    <h5>FeatureA is enable : @Model.FeatureA </h5>
    <h5>FeatureB is enable : @Model.FeatureB </h5>
</div>
